<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
    >
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    >
    <link
            href="/css/shared.css"
            rel="stylesheet"
    >
    <link
            href="/css/checkout.css"
            rel="stylesheet"
    >
    <title>Checkout</title>
</head>
<body>
<header class="header">
    <div class="header__group">
        <button
                class="material-icons"
                type="button"
                aria-label="Open menu"
        >menu
        </button>
        <span>logo</span>
    </div>

    <div class="header__group">
        <input
                class="input"
                type="search"
                placeholder="Search by item name"
                aria-label="Search by item name"
        >
        <select
                name="category"
                class="input"
                aria-label="All categories"
        >
            <option
                    value="0"
                    selected
            >All categories
            </option>
            <option value="1">category1</option>
            <option value="2">category2</option>
        </select></div>

    <div class="header__group">
        <button
                class="material-icons"
                type="button"
        >shopping_cart
        </button>
        <a href="#">Login</a>
        <a href="#">Sign up</a>
    </div>
</header>

<main class="checkout-page">

    <div class="checkout-content"
    >
        <label class="checkout-content__title">
            <span>Checkout</span>
        </label>

        <div class="checkout-content-block">
            <div class="inner-block-image">
                <img src="#"
                     width="80"
                     height="80">
            </div>
            <div class="inner-block-text">
                <div class="text-label">
                    <span>Certificate name</span>
                </div>
                <div class="text-content">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</span>
                </div>
            </div>
            <div class="inner-block-price">
                <span>$200</span>
            </div>
        </div>

        <div class="checkout-content-block">
            <div class="inner-block-image">
                <img src="#"
                     width="80"
                     height="80">
            </div>
            <div class="inner-block-text">
                <div class="text-label">
                    <span>Certificate name</span>
                </div>
                <div class="text-content">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</span>
                </div>
            </div>
            <div class="inner-block-price">
                <span>$200</span>
            </div>
        </div>

        <div class="checkout-content-block">
            <div class="inner-block-image">
                <img src="#"
                     width="80"
                     height="80">
            </div>
            <div class="inner-block-text">
                <div class="text-label">
                    <span>Certificate name</span>
                </div>
                <div class="text-content">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</span>
                </div>
            </div>
            <div class="inner-block-price">
                <span>$200</span>
            </div>
        </div>

        <div class="checkout-content-block total-price">
            <div class="sum">
                <div class="sum__title">Total</div>
                <div class="sum__value">$600</div>
            </div>
        </div>

        <div class="register-form-buttons">
            <button
                    class="button cancel-button"
                    type="submit"
            >
                Cancel
            </button>
            <button
                    class="button signup-button"
                    type="submit"
            >
                Sign Up
            </button>
        </div>


    </div>


</main>
</body>
</html>