<html>
<body>
<div th:fragment="myheader">
    <header class="header">
        <div class="header__group">
            <button
                    class="material-icons"
                    type="button"
                    aria-label="Open menu"
            >menu
            </button>
            <span>logo</span>
        </div>
        <div class="header__group">
            <input
                    class="input"
                    type="search"
                    placeholder="Search by item name"
                    aria-label="Search by item name"
            >
            <select
                    name="category"
                    class="input"
                    aria-label="All categories"
            >
                <option
                        value="0"
                        selected>All categories
                </option>
                <option value="1">category1</option>
                <option value="2">category2</option>
            </select></div>

        <div class="header__group">
            <button
                    class="material-icons"
                    type="button"
            >shopping_cart
            </button>
            <a href="/">Login</a>
            <a href="#">Sign up</a>
        </div>
    </header>
</div>

</body>
</html>