<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
    >
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    >
    <link
            href="/css/index.css"
            rel="stylesheet"
    >
    <link
            href="/css/shared.css"
            rel="stylesheet"
    >
    <title>Login</title>
</head>
<body>
<div th:replace="header :: myheader"></div>
<main class="login-page">
    <form
            action="#"
            th:action="@{/auth/login}"
            th:object="${loginRequest}"
            method="post"
            class="login-form"
    >
        <div class="login-form__logo">Logo</div>
        <input
                class="input"
                type="text"
                name="username"
                placeholder="username"
                aria-label="username"
        >
        <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                aria-label="Password"
        >
        <button
                class="button"
                type="submit"
        >
            Login
        </button>
    </form>
</main>
</body>
</html>