<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
    >
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    >
    <link
            href="/css/shared.css"
            rel="stylesheet"
    >
    <link
            href="/css/user-register.css"
            rel="stylesheet"
    >
    <title>Register User</title>
</head>
<body>
<div th:replace="header :: myheader"></div>
<main class="register-user-page">
    <form
            action="#"
            method="post"
            class="register-form"
    >
        <label class="register-form__title">
            <span>Register User</span>
        </label>

        <div class="register-form-left">
            <label class="register-form__input-title">login name</label>
            <input
                    class="input"
                    type="text"
                    name="login"
                    aria-label="Login"
            >
            <label class="register-form__input-title">password</label>
            <input
                    class="input"
                    type="password"
                    name="password"
                    aria-label="email"
            >
            <label class="register-form__input-title">
                email
            </label>
            <input
                    class="input"
                    type="email"
                    name="email"
                    aria-label="email"
            >
        </div>

        <div class="register-form-right">
            <label class="register-form__input-title">
                first name
            </label>
            <input
                    class="input"
                    type="text"
                    name="login"
                    aria-label="Login"
            >
            <label class="register-form__input-title">
                repeat password
            </label>
            <input
                    class="input"
                    type="password"
                    name="password"
                    aria-label="email"
            >
            <label class="register-form__input-title">address</label>
            <input
                    class="input"
                    type="text"
                    name="address"
                    aria-label="address"
            >
            <div class="register-form-buttons">
                <button
                        class="button cancel-button"
                        type="submit"
                >
                    Cancel
                </button>
                <button
                        class="button signup-button"
                        type="submit"
                >
                    Sign Up
                </button>
            </div>
        </div>
    </form>
</main>
</body>
</html>
