.checkout-page {
    display: flex;
}

/*.checkout-content {*/
/*    flex-grow: 1;*/
/*    padding: 8rem 22rem 1rem 22rem;*/
/*    display: flex;*/
/*    position: relative;*/

/*    background-color: #FFFFFF;*/

/*    border: 1px solid red;*/
/*}*/

.checkout-content {
    flex-grow: 1;
    padding: 6rem 15rem 6rem 15rem;

    position: relative;
    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;
}

.checkout-content__title {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 20px;
    color: #fff;

    background-color: #BDBDBD;
}

.checkout-content__title span {
    padding-left: 10rem;
}

.checkout-content-block {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid aquamarine;
}

.text {
    width: 90%;
}

img {
    background-color: #929292;
}



/*.checkout-content-block__description{*/
/*    border: 3px solid blueviolet;*/
/*}*/

/*.checkout-content-block__price{*/
/*    border: 1px solid green;*/
/*}*/



